{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="{% static 'color/js/jquery.event.move.js' %}" type="text/javascript"></script>
<script src="{% static 'color/js/jquery.twentytwenty.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'color/css/twentytwenty.css' %}" type="text/css" media="screen" />
<link href="{% static 'color/css/foundation.css' %}" rel="stylesheet" type="text/css" />
<style>
body {font-family: Arial, Helvetica, sans-serif;}
</style>
</head>
<body>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
   {{ form.as_p }}
  <button type="submit">Upload</button>
</form>
{% if img %}
   <div class="row" style="margin-top: 2em;">
    <div class="large-4 columns">
      <h3>Texts</h3>
      <p>Descrip</p>
    </div>
    <div class="large-8 columns">
      <div id="twentytwenty-container">
        <img src="{{ img.url }}"style="max-height:800px; width:auto;" />
        <img src="{{ img_gray.url }}"style="max-height:800px; width:auto;" />
      </div>
    </div>
  </div>
{% endif %}

<script>

window.onload = function() {
  $("#twentytwenty-container").twentytwenty();
};
// $(function(){
//   $("#twentytwenty-container").twentytwenty();
// });
</script>

</body>
</html>